footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacer--large * 3 $spacer--medium $spacer--large * 3 $spacer--medium;
  background-color: $very-dark-violet;

  @media (min-width: 1440px) {
    font-size: $font-size--medium;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: $spacer--largest * 3 $spacer--largest * 2;
  }
}

.footer {
  &-logo {
    margin-bottom: $spacer--largest * 2;
  }

  &-nav {
    @media (min-width: 1440px) {
      width: 80%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &-icons {
    @media (min-width: 1440px) {
      margin-left: $spacer--largest * 5;
    }

    svg {
      fill: white;
      &:hover {
        fill: $cyan-light;
      }
    }
  }
}
