.shortened-link {
  width: 100%;
  background-color: white;
  margin-bottom: $spacer--medium;
  border-radius: $br-base;
  box-sizing: border-box;
  font-size: $font-size--base;

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size--medium;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-full {
    padding: $spacer--default $spacer--large;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e5e5e5;
    color: black;

    @media (min-width: 1440px) {
      border-bottom: 0;
      padding: $spacer--default * 2 $spacer--large * 2;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1440px) {
      flex-direction: row;
      padding-right: $spacer--large * 2;
    }
  }

  &-short {
    padding: $spacer--default $spacer--large 0 $spacer--large;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $cyan;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 1440px) {
      padding: 0;
      overflow: visible;
      white-space: normal;
    }
  }

  &-btn {
    box-sizing: border-box;
    padding: $spacer--default $spacer--large;
    width: 100%;
    @media (min-width: 1440px) {
      padding: 0;
      padding-left: $spacer--large;
    }

    &-copied {
      background-color: $dark-violet !important;
    }
  }

  button {
    width: 100%;
    border-radius: $br-base;
    height: 40px;
    box-sizing: border-box;
    padding: $spacer--extra-small $spacer--small * 3;
    font-weight: 500;
    line-height: 1;
    color: white;
    background-color: $cyan;
    font-size: $font-size--base;
    cursor: pointer;

    &:hover {
      background-color: $cyan-light;
      transition: 0.1s;
    }

    @media (min-width: 1440px) {
      font-size: $font-size--medium;
    }
  }
}
