//vars
$font-family: "Poppins", sans-serif;

//colors
$cyan: hsl(180, 66%, 49%);
$cyan-light: #9be3e2;
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$gray-bg: #f0f1f6;

//layout
$header-height: 80px;
$search-input-padding: 5px;

//spacers
$spacer--largest: 35px;
$spacer--larger: 30px;
$spacer--large: 25px;
$spacer--medium: 20px;
$spacer--default: 15px;
$spacer--small: 10px;
$spacer--extra-small: 5px;

//text
$font-size--extra-large: 24px;
$font-size--large: 20px;
$font-size--medium: 18px;
$font-size--base: 16px;
$font-size--secondary: 14px;
$font-size--tertiary: 12px;

//buttons
$br-medium: 20px;
$br-base: 10px;
